/*
 * ~/.config/waybar/style.css
 */

/* -----------------------------------------------------
 * ----------------------------------------------------- */

@define-color module_background	rgba(35, 31, 35, 0.5);
@define-color background		rgba(43, 45, 48, 0.91); 
@define-color foreground		#e5cce1; 
@define-color inactive			#aaaaaa;
@define-color border			#ffcad4;
@define-color hover				#1a1a1a;

@define-color red				#e98989;
@define-color green				#a6e3a1;
@define-color yellow			#f9e2af;

@define-color cpu				#0fd1ff;	
@define-color memory			#ffec0f;


/* -----------------------------------------------------
 * General
 * ----------------------------------------------------- */

window#waybar {
	background-color : @background;
  font-size: 14px;
}

/* -----------------------------------------------------
 * Modules
 * ----------------------------------------------------- */

#workspaces,
#taskbar,
#window,
#clock,
#tray,
#network,
#memory,
#cpu,
#backlight,
#wireplumber,
#language,
#battery {
	background-color : @transparent;
    padding: 0px 5px 0px 5px;
    margin: 1px 3px 2px 3px;
    border-radius: 0px; 
    border-bottom: 1px solid @border; 
	box-shadow: inset 0 -1px;
}

/* -----------------------------------------------------
 * Left
 * ----------------------------------------------------- */

#taskbar button {
	padding : 5px;
	margin : 0px;
}

#taskbar {
	padding : 0px 8px;
}

/* lefmost module */
#workspaces {
	margin : 1px 3px 2px 8px
}

#workspaces button {
	padding : 0 7px;
}

#workspaces button.active {
    background-color: #e0cf64; 
}

#workspaces button:hover {
    background-color: @hover;
    color: @foreground;
}

#window {
	background-color : transparent;
	border : none;
    font-weight: bold;
    color: @foreground; 
	box-shadow: inset 0 0px;
}

/* -----------------------------------------------------
 * Center
 * ----------------------------------------------------- */

#clock {
	background-color : transparent;
	border : none;
    font-weight: bold;
	color: @foreground;
	box-shadow: inset 0 0px;
}

/* -----------------------------------------------------
 *  Right 
 * ----------------------------------------------------- */

#network {
    color: @foreground;
}

#memory {
    color: @memory;
}

#cpu {
    color: @cpu;
}

#backlight {
    color: @foreground;
}

#wireplumber {
    color: @foreground;
}

#wireplumber.muted {
    color: @red; /* Red when muted */
}

#language {
    color: @foreground;
}

/*rightmost module */
#battery {
    color: @foreground;
	margin : 1px 8px 2px 3px;
}

#battery.charging, #battery.plugged {
    color: @green;
}

#battery.warning {
    color: @yellow;
}

#battery.critical {
    color: @red;
    animation-name: blink;
    animation-duration: 0.8s;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
    animation-direction: alternate;
}

@keyframes blink {
    to {
        background-color: @red;
        color: @background;
    }
}

/* -----------------------------------------------------
 * ----------------------------------------------------- */

tooltip {
    background: @background; 
    border: 1px solid @border; 
    border-radius: 8px;
}

tooltip label {
    color: @foreground; 
}
