/*
 * ~/.config/waybar/style.css
 */

/* -----------------------------------------------------
 * ----------------------------------------------------- */

@define-color bar_background	#231f23;
@define-color background		#211c0a; 
@define-color foreground		#e5cce1; 
@define-color inactive			#aaaaaa;
@define-color border			#ffcad4;
@define-color hover				#1a1a1a;

@define-color red				#e98989;
@define-color green				#a6e3a1;
@define-color yellow			#f9e2af;

@define-color cpu				#0fd1ff;	
@define-color memory			#ffec0f;


/* -----------------------------------------------------
 * General
 * ----------------------------------------------------- */

window#waybar {
	background-color : @bar_background;
    font-family: "GeistMonoNerdFont"; 
    font-size: 14px;
}

/* -----------------------------------------------------
 * Modules
 * ----------------------------------------------------- */

#workspaces,
#taskbar,
#window,
#clock,
#tray,
#network,
#memory,
#cpu,
#backlight,
#wireplumber,
#language,
#battery {
	background-color : @background;
    color: @foreground; 
    padding: 1px 8px;
    margin: 5px 5px;
    border-radius: 0px; 
    border: 1px solid @border; 
}

/* -----------------------------------------------------
 * Left
 * ----------------------------------------------------- */

#taskbar button {
	padding : 0px;
	margin : 0px;
	border : none;
}

#workspaces button {
    padding: 0 3px;
    color: @inactive; 
    background-color: transparent;
    border: none;
    border-radius: 4px;
}

#workspaces button.active {
    color: @foreground; 
    background-color: @hover; 
}

#workspaces button:hover {
    background-color: @hover;
    color: @foreground;
}

#window {
    font-weight: bold;
    color: @foreground; 
}

/* -----------------------------------------------------
 * Center
 * ----------------------------------------------------- */

#clock {
    color: @foreground; /* White clock */
    font-weight: bold;
}

/* -----------------------------------------------------
 *  Right 
 * ----------------------------------------------------- */

#network {
    color: @foreground;
}

#memory {
    color: @memory;
}

#cpu {
    color: @cpu;
}

#backlight {
    color: @foreground;
}

#wireplumber {
    color: @foreground;
}

#wireplumber.muted {
    color: @red; /* Red when muted */
}

#language {
    color: @foreground;
}

#battery {
    color: @foreground;
}

#battery.charging, #battery.plugged {
    color: @green;
}

#battery.warning {
    color: @yellow;
}

#battery.critical {
    color: @red;
    animation-name: blink;
    animation-duration: 0.8s;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
    animation-direction: alternate;
}

@keyframes blink {
    to {
        background-color: @red;
        color: @background;
    }
}

/* -----------------------------------------------------
 * ----------------------------------------------------- */

tooltip {
    background: @background; 
    border: 1px solid @border; 
    border-radius: 8px;
}

tooltip label {
    color: @foreground; 
}
