// This config is in the KDL format: https://kdl.dev
// "/-" comments out the following node.
// Check the wiki for a full description of the configuration:
// https://github.com/YaLTeR/niri/wiki/Configuration:-Introduction

//Use includes on next realease 

spawn-at-startup "waybar"
spawn-at-startup "wpaperd"
spawn-sh-at-startup "swaybg -i ~/Pictures/wallpapers/wallhaven-9od8rw_1920x1080.png"
screenshot-path "~/Pictures/Screenshots/Screenshot from %Y-%m-%d %H-%M-%S.png"

prefer-no-csd

environment {
	ELECTRON_OZONE_PLATFORM_HINT "auto"
	XDG_SESSION_TYPE "wayland"
	XDG_MENU_PREFIX "arch-"

	QT_QPA_PATFORM "wayland"
	QT_QPA_PLATFORMTHEME "kde"
}

layer-rule {
	match namespace="^wallpaper$"
	place-within-backdrop true
	opacity  0.8
}

overview {
	zoom 0.45
	workspace-shadow {
		off
	}
}

cursor {
	xcursor-theme "Bibata-Modern-Ice"
	xcursor-size 20
	hide-after-inactive-ms 5000
	hide-when-typing
}

input {
    keyboard {
        xkb {
			layout "us, latam"
			options "caps:swapescape"
        }
		repeat-delay 500
    }

    touchpad {
        tap
		accel-profile "flat"
        natural-scroll
    }

    mouse {
        accel-profile "flat"
		accel-speed 0.75
		scroll-factor 1.0
    }

    focus-follows-mouse max-scroll-amount="0%"
}

output "eDP-2" {
	mode "1920x1080@144.420"
	scale 1.0
}

layout {
    gaps 5
    center-focused-column "on-overflow"
    preset-column-widths {
        proportion 0.33333
        proportion 0.5
        proportion 0.66667
    }
    default-column-width { proportion 0.5; }
	always-center-single-column  

    focus-ring {
		off
    }

    border {
        width 1
		active-color "#ffcad4"
		inactive-color "#211c0a"
		urgent-color "#a02c28"
    }

    shadow {
        on
        softness 20
        spread 2
        offset x=0 y=3
        color "#c1a47f"
		inactive-color "#442a29"
    }

    struts {
        left 2
        right 2
        top -1
        bottom -1
    }

	tab-indicator {
		gap 10
		place-within-column
		active-color "#f9dbf4"
	}

	background-color "transparent"
}

animations {
	workspace-switch {
		curve "cubic-bezier" 0.05 0.5 0.1 1
	}

	horizontal-view-movement {
		 spring damping-ratio=0.87 stiffness=1200 epsilon=0.0001
	}

	window-open {
		duration-ms 100
		curve "ease-out-cubic"
	}

	window-close {
		duration-ms 150
		curve "ease-out-cubic"
	}
}

//general
window-rule {
    geometry-corner-radius 0
    clip-to-geometry true
	open-focused true
}

//screencasting
window-rule {
	match is-window-cast-target=true

	focus-ring {
		active-color "#ef0e55"
	}
}

//keepassxc
window-rule {
    match app-id=r#"^org\.keepassxc\.KeePassXC$"#
    block-out-from "screen-capture"
}

//browsers
window-rule {
	match app-id=r#"firefox"#
	match app-id=r#"app.zen_browser.zen"#
	open-maximized true
}

//osu
window-rule {
	match app-id=r#"osu!"#
	open-maximized true
}

binds {
	
    Mod+Shift+Slash { show-hotkey-overlay; }

    Mod+Q hotkey-overlay-title="Open a Terminal: ghostty" { spawn "ghostty"; }
    //Mod+Space hotkey-overlay-title="Run an Application: rofi" { spawn "rofi" "-show" "drun"; }
	Mod+Space hotkey-overlay-title="Run an Application : fuzzel" {spawn "fuzzel";}
	Mod+E hotkey-overlay-title="Open the file manager" {spawn "dolphin"; }
    Super+Alt+L hotkey-overlay-title="Lock the Screen: swaylock" { spawn "swaylock"; }

    XF86AudioRaiseVolume allow-when-locked=true { spawn "wpctl" "set-volume" "@DEFAULT_AUDIO_SINK@" "0.1+"; }
    XF86AudioLowerVolume allow-when-locked=true { spawn "wpctl" "set-volume" "@DEFAULT_AUDIO_SINK@" "0.1-"; }
    XF86AudioMute        allow-when-locked=true { spawn "wpctl" "set-mute" "@DEFAULT_AUDIO_SINK@" "toggle"; }
    XF86AudioMicMute     allow-when-locked=true { spawn "wpctl" "set-mute" "@DEFAULT_AUDIO_SOURCE@" "toggle"; }

    Mod+Tab repeat=false { toggle-overview; }

    Mod+W { close-window; }
	Mod+O hotkey-overlay-title="Toggle keyboard layout" {spawn "niri" "msg" "action" "switch-layout" "next";}


    Mod+H     { focus-column-left; }
    Mod+J     { focus-window-down; }
    Mod+K     { focus-window-up; }
    Mod+L     { focus-column-right; }

    Mod+Ctrl+H     { move-column-left; }
    Mod+Ctrl+J     { move-window-down; }
    Mod+Ctrl+K     { move-window-up; }
    Mod+Ctrl+L     { move-column-right; }

    Mod+Shift+Left  { focus-monitor-left; }
    Mod+Shift+Down  { focus-monitor-down; }
    Mod+Shift+Up    { focus-monitor-up; }
    Mod+Shift+Right { focus-monitor-right; }
    Mod+Shift+H     { focus-monitor-left; }
    Mod+Shift+J     { focus-monitor-down; }
    Mod+Shift+K     { focus-monitor-up; }
    Mod+Shift+L     { focus-monitor-right; }

    Mod+Shift+Ctrl+H     { move-column-to-monitor-left; }
    Mod+Shift+Ctrl+J     { move-column-to-monitor-down; }
    Mod+Shift+Ctrl+K     { move-column-to-monitor-up; }
    Mod+Shift+Ctrl+L     { move-column-to-monitor-right; }

    Mod+U              { focus-workspace-up; }
    Mod+I              { focus-workspace-down; }
    Mod+Ctrl+U         { move-column-to-workspace-down; }
    Mod+Ctrl+I         { move-column-to-workspace-up; }

    Mod+Shift+U         { move-workspace-down; }
    Mod+Shift+I         { move-workspace-up; }

    Mod+WheelScrollDown      cooldown-ms=150 { focus-workspace-down; }
    Mod+WheelScrollUp        cooldown-ms=150 { focus-workspace-up; }
    Mod+Ctrl+WheelScrollDown cooldown-ms=150 { move-column-to-workspace-down; }
    Mod+Ctrl+WheelScrollUp   cooldown-ms=150 { move-column-to-workspace-up; }

    Mod+WheelScrollRight      { focus-column-right; }
    Mod+WheelScrollLeft       { focus-column-left; }
    Mod+Ctrl+WheelScrollRight { move-column-right; }
    Mod+Ctrl+WheelScrollLeft  { move-column-left; }

    Mod+Shift+WheelScrollDown      { focus-column-right; }
    Mod+Shift+WheelScrollUp        { focus-column-left; }
    Mod+Ctrl+Shift+WheelScrollDown { move-column-right; }
    Mod+Ctrl+Shift+WheelScrollUp   { move-column-left; }

    Mod+1 { focus-workspace 1; }
    Mod+2 { focus-workspace 2; }
    Mod+3 { focus-workspace 3; }
    Mod+4 { focus-workspace 4; }
    Mod+5 { focus-workspace 5; }
    Mod+6 { focus-workspace 6; }
    Mod+7 { focus-workspace 7; }
    Mod+8 { focus-workspace 8; }
    Mod+9 { focus-workspace 9; }
    Mod+Ctrl+1 { move-column-to-workspace 1; }
    Mod+Ctrl+2 { move-column-to-workspace 2; }
    Mod+Ctrl+3 { move-column-to-workspace 3; }
    Mod+Ctrl+4 { move-column-to-workspace 4; }
    Mod+Ctrl+5 { move-column-to-workspace 5; }
    Mod+Ctrl+6 { move-column-to-workspace 6; }
    Mod+Ctrl+7 { move-column-to-workspace 7; }
    Mod+Ctrl+8 { move-column-to-workspace 8; }
    Mod+Ctrl+9 { move-column-to-workspace 9; }


    Mod+BracketLeft  { consume-or-expel-window-left; }
    Mod+BracketRight { consume-or-expel-window-right; }

    Mod+R { switch-preset-column-width; }
    Mod+Shift+R { switch-preset-window-height; }
    Mod+Ctrl+R { reset-window-height; }

    Mod+F { maximize-column; }
    Mod+Shift+F { fullscreen-window; }
    Mod+Ctrl+F { expand-column-to-available-width; }

	//Center
    Mod+C { center-column; }
    Mod+Ctrl+C { center-visible-columns; }

    Mod+Minus { set-column-width "-10%"; }
    Mod+Equal { set-column-width "+10%"; }

    // Finer height adjustments when in column with other windows.
    Mod+Shift+Minus { set-window-height "-10%"; }
    Mod+Shift+Equal { set-window-height "+10%"; }

    // Move the focused window between the floating and the tiling layout.
    Mod+V       { toggle-window-floating; }
    Mod+Shift+V { switch-focus-between-floating-and-tiling; }

	//Tabs
    Mod+S { toggle-column-tabbed-display; }
    Mod+N { consume-window-into-column; }
    Mod+M { expel-window-from-column; }

    Mod+P { screenshot; }
    Mod+Shift+P { screenshot-screen; }
    Mod+Alt+P { screenshot-window; }

    Mod+Escape allow-inhibiting=false { toggle-keyboard-shortcuts-inhibit; }

    Mod+Shift+E { quit; }
    Ctrl+Alt+Delete { quit; }
}
