cursor {
	xcursor-theme "Bibata-Modern-Ice"
	xcursor-size 20
	hide-after-inactive-ms 5000
	hide-when-typing
}

input {
    keyboard {
        xkb {
			layout "us, latam"
			options "caps:swapescape"
        }
		repeat-delay 500
    }

    touchpad {
        tap
		accel-profile "flat"
        natural-scroll
    }

    mouse {
        accel-profile "flat"
		accel-speed 0.20
		scroll-factor 1.0
    }

    focus-follows-mouse max-scroll-amount="0%"
}

output "eDP-2" {
	mode "1920x1080@144.420"
	scale 1.0
}
