environment {
	ELECTRON_OZONE_PLATFORM_HINT "auto"
	XDG_CURRENT_DESKTOP "niri"
	XDG_SESSION_TYPE "wayland"
	XDG_MENU_PREFIX "arch-"

	//qt6ct
	//qt5c6
	//nwg-look
	QT_QPA_PATFORM "wayland"
	QT_QPA_PLATFORMTHEME "qt6ct"
	QT_QPA_PLATFORMTHEME_QT6 "qt6ct"

	QT_WAYLAND_DISABLE_DECORATION "1"
	QT_WAYLAND_SCREEN_AUTO_SCALE_FACTOR "1"
}
