//general
window-rule {
    geometry-corner-radius 0
    clip-to-geometry true
	open-focused true
}

//screencasting
window-rule {
	match is-window-cast-target=true

	focus-ring {
		active-color "#ef0e55"
	}
}

//block screencasting
window-rule {
    match app-id=r#"^org\.keepassxc\.KeePassXC$"#
    match app-id=r#"^org\.kde\.dolphin$"#
	match app-id=r#"org.gnome.Nautilus"#
    block-out-from "screen-capture"
}

//browsers
window-rule {
	match app-id=r#"firefox"#
	match app-id=r#"^app\.zen_browser\.zen$"#
	open-maximized true
}

//file managers
window-rule {
	match app-id=r#"org.kde.dolphin"#
	match app-id=r#"org.gnome.Nautilus"#
	open-focused true
	open-floating true
}

//osu
window-rule {
	match app-id=r#"osu!"#
	open-maximized true
	open-fullscreen true
}

layer-rule {
	match namespace="quickshell"
	place-within-backdrop true
}

layer-rule {
	match namespace="^wallpaper$"
	place-within-backdrop true
	opacity  0.8
}
